.nav__list {
    list-style: none;
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: $primary-color;
}

.nav__item {
    padding: 0.5rem;
}





/*Media Queries*/
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
    .nav__list {
        display: block;
    }
}

@media (max-width: 991.98px) {
   
}